*.iml
/.idea

*.gradle
/local.properties
*.DS_Store
*.pem

*/node_modules
*/.pnp
*.pnp.js
*.yarn/install-state.gz
*.npmrc

*/build

# debug
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*

*.env*.local

*.tsbuildinfo

/kotlin/src/test/
